@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --border-radius: 12px;
  --primary-color:#FF504F; 
  --background-color: #FFF1CF;
  --secondary-color: #9C5038;
  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 10px;
}

input {
  padding: 0.9rem;
  border: none;
}

main {
  max-width: 1000px;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

a {
  background-color: var(--primary-color);
  padding: 1rem;
  font-weight: bold;
}

button {
  background-color: var(--primary-color);
  padding: 1rem;
  cursor: pointer;
  border: none;
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: bold;
}

.timer {
  font-size: 7rem;
}

.home-btn {
  background-color: #77DD77;
  font-size:1.3rem;
}

.sos-btn {
  border-radius: 30%;
  background-color: red;
  color: #fff;
  font-size:1.5rem;
  font-weight: 900;
}

.back-btn {
  border: 3px solid grey;
  background-color: var(--background-color);
}

.distress-msg {
  font-style: italic;
  font-size: 0.8rem;
}